
.app-loading { background:none; background-alpha: 0; border: 1px solid #0faded; border-alpha: .75; text-align:right; vertical-align:top; padding-right:0px; padding-top:0px; }
.agf-console-textfield { font-family:"Lucida Console","Odisseia Regular","Source Code Pro"; color:#BBDDFF; font-size:14px; }
.texteditor { font-family:"Lucida Console","Odisseia Regular","Source Code Pro","Courier New"; color:#000000; font-size:14px; background-color: #fff; }
.textview { font-family:"Lucida Console","Odisseia Regular","Source Code Pro","Courier New"; font-size:14px; }

/* body should never have a background */
body, window, div, textbox, button, p, span { font-family: "Myriad Pro"; font-weight:normal; font-size: 15px; }

.start-screen { padding: 25px; }
.start-screen-title { margin-top:45px; margin-bottom:25px; }
.start-screen-info { color:#ffffff; margin-top:25px; font-family: "Myriad Pro Light Italic"; font-size:16px;  }
.start-screen-btn { background: #06F; color:#FFFFFF; opacity:1; margin-top: 12px; margin-left:0px; margin-right:25px; margin-bottom:50px; padding:12px; border-radius:7px; }
.start-screen-btn:hover { background: #29F; color:#0044AA; }
.start-screen-popup { background: #666; color:#FFFFFF; opacity:1; margin-top: 12px; margin-left:0px; margin-right:25px; margin-bottom:40px; padding:12px; border-radius:7px; }
.start-screen-popup:hover { background: #777; color:#0044AA; }
.start-screen-new-template { background:none; color:#ffffff; margin-top:25px; margin-bottom:12px; font-family: "Myriad Pro Light"; font-size:18px; line-height: 22px; text-decoration:underline; }

.settings { padding: 25px; }
.settings-title { margin-top:45px; margin-bottom:25px; }
.settings-btn { background: #06F; color:#FFFFFF; opacity:1; margin-top: 12px; margin-left:0px; margin-right:25px; margin-bottom:50px; padding:12px; border-radius:7px; }
.settings-btn:hover { background: #29F; color:#0044AA; }
.settings-popup { background: #666; color:#FFFFFF; opacity:1; margin-top: 12px; margin-left:0px; margin-right:25px; margin-bottom:40px; padding:12px; border-radius:7px; }
.settings-popup:hover { background: #777; color:#0044AA; }


areaview { background:#20272F; border-right:2px solid #303337; background-alpha: 0.55; border-alpha:0.5; }
areasizebutton {}
h1 { font-size:20px; font-weight:bold; }
h2 { font-size:18px; font-weight:bold; }
h3 { font-size:18px; font-weight: normal; }
h4 { font-size:16px; font-weight: bold; }
h5 { font-size:14px; font-weight: bold; }
h6 { font-size:12px; font-weight: bold; }
i { font-style: italic; }
b { font-weight: bold; }
a { text-decoration: underline; font-weight:bold; }

.area-view { 
}
.area-sizebutton {
    width: 8px;
    background:none;
    /* border-left:1px solid #000;
    border-alpha:.25; */
}
.area-sizebutton-v {
    height: 8px;
    background:none;
     border-top:1px solid #fff;
    border-alpha:.25;
}

.area-multi-select-menu { background: #000; background-alpha:0.93; }

.multisel-cancel-button { border-top-right-radius: 7px; border-bottom-right-radius:7px; border: 1px solid #fff; border-left:none; border-alpha:0.2; background-alpha: 0.2; }
.multisel-undo-button { border-radius: 7px; border: 1px solid #fff; border-alpha:0.2; background-alpha: 0.2; }
.multisel-delete-button { border-radius: 7px; border: 1px solid #fff; border-alpha:0.2; background-alpha: 0.2; margin: 12px; }
.multisel-move-to-pp {  border-radius: 7px; border: 1px solid #fff; border-alpha:0.2; background-alpha: 0.2; margin-right: 12px; padding: 2px 4px; }
popuplist.multisel-move-to-pp { background: #505459; border-radius: 5px;background-alpha: 1; }
popupitem.multisel-move-to-pp { border:none; }

.name-label {  font-family: "Myriad Pro"; font-size:16px; font-weight:bold; }
.name-visible-button, .name-save-button, .name-delete-button, .name-close-button, .name-save-and-close-button, .name-save-and-new-button { background: none; padding: 0px; }
.name-visible-button:active, .name-save-button:active, .name-delete-button:active, .name-close-button:active, .name-save-and-close-button:active, .name-save-and-new-button:active { background:#000; background-alpha: 0.25; }

.media-container { margin-left: 16px; }

.preview-bg { background: #30373F; border-left: 2px solid #123; }
.preview-collapse-btn { background: none; padding:3px; }
.preview-resize-icon { background: none; padding:3px 0px; margin: 0px; width:12px; opacity: 0.3; }
.preview-reload-btn { background: none; padding:5px; padding-left:0px; margin: 2px; opacity: 0.3; }
.preview-adres-bar { font-family: "Myriad Pro"; font-size: 16px; color:#A0A7AF; }

.areaview-new-label { background: #def; background-alpha:0.2; font-size:10px; font-weight:bold; margin-bottom: 8px; padding-top:4px;  }
.tree-icon-html { color: #FFFFFF; font-size :10px; padding:0px; margin:0px; }

.tree-item-list {  }

.tree-item-0 { font-family: "Myriad Pro Light"; font-size:14px; background:none; /*border-bottom: 1px solid #abc; border-alpha:.125;*/ padding: 2px 15px; }
.tree-item-1 { font-family: "Myriad Pro Light"; font-size:14px; background:none; /*border-bottom: 1px solid #abc; border-alpha:.075;*/ padding: 2px 24px; }

.tree-folder-0 { font-family: "Myriad Pro Light"; font-size:14px; background:none; /*border-bottom: 1px solid #abc; border-alpha:.125;*/ padding: 2px 0px;  }
.tree-folder-1 { font-family: "Myriad Pro Light"; font-size:14px; background:none; /*border-bottom: 1px solid #abc; border-alpha:.075;*/ padding: 2px 24px; }

.areaview-item-btn, .drag-new-button { background:none; font-family: "Myriad Pro Light"; font-size:14px; text-align:left; color:#efefef; padding:4px 0px; margin-bottom: 0px;  /*border-bottom:1px solid #efefef; border-alpha:0.125;*/ }

.item-tree-btn, .item-tree-btn:active, .item-tree-btn:visited, .item-tree-btn:hover { background:none; font-family: "Myriad Pro Light"; font-size:14px; text-align:left; color:#efefef; padding:0px 0px; margin-bottom: 0px;  /*border-bottom:1px solid #efefef; border-alpha:0.125;*/ }

.area-bt-label { background:none; } 
.area-bt-label:hover { background: #c70; background-alpha: 0.8; }

.item-tree-element { font-family: "Myriad Pro Light"; font-size:14px; } 


.drag-display { border-top: 2px solid #000; border-alpha: 0.7; }



.preloader { width: 100px; height: 10px; border-radius: 4px; background:#789; }
.preloader-display { width: 100px; height: 10px; border-radius: 4px; background:#123; }

textfield { color:#efefef; font-family: "Myriad Pro Light"; }

/* UI Ctrls */
label { } 

progress { background:#303236; height: 5px; }
progressvalue {  background:#707276; border-top-left-radius: 2px; border-bottom-left-radius: 2px; height: 4px; }
.progress-label { font-size: 10px; color:#900000; font-family:"Myriad Pro Light"; margin-top: 4px; padding: 10px; }

.upload-title { font-size: 20px; font-family:"Myriad Pro Light Italic";  }
.upload-text { color:#FFFFFF; font-size:14px; padding: 4px; text-align: left; }
.upload-container { font-family:"Myriad Pro Light"; padding: 24px; }
.upload-abort { padding: 5px; background: none; color:#FFFFFF; }
.upload-abort:hover { background: #603030; }
.upload-progress { color:#FFFFFF; margin-bottom: 22px; }
.upload-info { font-size: 14px; font-family: "Lucida Console","Odisseia Regular","Source Code Pro","Courier New"; }

.publish-start-btn { background: #202226; color:#FFFFFF; opacity:1; margin-top: 12px; margin-left:0px; margin-right:25px; margin-bottom:50px; padding:12px; border-radius:7px; }
.publish-start-btn:hover { background: #06F; }

/*
.publish-start-btn { 
	font-family:"Myriad Pro Bold Italic"; 
	background:#06f; color:#ffffff; font-size:26px; margin: 25px;
 	padding:25px; border-radius: 33px; border-bottom-left-radius: 0px; border-top-right-radius: 0px;
 }
.publish-start-btn:hover { background: #04d; color:#2299FF;}
*/

.install-view { background: #40484F; padding: 25px; }
.install-text { color:#efefef; font-family:"Myriad Pro Light"; font-size:16px; padding-left: 4px; }
.install-abort { padding: 10px; background: none; margin-top: 4px; }
.install-abort:hover { color:#770000; }
.install-progress { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.install-value { border-bottom: 1px solid #123; border-top: 1px solid #cde;  }


button, popup { background:#202226; color:#efefef; padding-left:3px; padding-right:3px; }
popupitem { background:none; color:#efefef; }
popuplist { background: #404246; }
popup:active, popuplist:active { background: #404246; }
popupitem:hover { background: #606266;  }
popupitem:active { background: #808286; }

/* Scrollbars */
slider { background: #def; background-alpha: 0.2; border-radius:3px; }
sliderbutton { background: #fff;  background-alpha: 0.3; border-radius:3px; }

colorpicker {}

.color-picker-slider { padding: 1px; width: 16px; border-radius: 8px; background:#202428; background-alpha: 0.45; }
.color-picker-slider-button {  background-alpha: 0.45; background: linear-gradient(top, #bbb 0%, #aaa 30%, #aaa 70%, #bbb 100%); border-radius: 8px; width:16px; }
.color-picker-slider-button:hover {  background: linear-gradient(top, #333 0%, #555 30%, #555 70%, #333 100%); }
.color-picker-slider-button:active { background: linear-gradient(top, #333 0%, #444 30%, #444 70%, #333 100%); }


.color-picker-cancel-button { padding: 8px; border-radius: 0px; margin: 0px 4px; }
.color-picker-set-button { padding: 4px; background:306030; margin: 0px 4px; margin-bottom: 4px; border-radius: 0px; border: 4px solid #373; }
.input-color-picker { color:#efefef;}

.window { font-family: "Myriad Pro"; font-size: 12px; color: #FFFFFF; text-align:center; padding: 0px;  }
.window-background { background: #707478; border:none; border-radius: 7px; padding: 1px; }
.window-body { padding: 12px; }
.window-title { background: #333639; padding:0px; padding-left: 3px; border:none; vertical-align:top; color:#D3D3D3; border-top-left-radius:7px; border-top-right-radius:7px; }
.window-title-text { color: #EEEEEE; font-family: "Myriad Pro Light"; font-size: 14px; }
.window-message { font-family: "Myriad Pro Light Italic"; font-size: 16px; }
.window-message-wimg { font-family: "Myriad Pro Light Italic"; font-size: 16px; text-align: left; }
.window-closebutton { background: none; width: 16px; padding: 0px 4px; text-align:right; vertical-align:middle; border-top-right-radius: 7px; }
.window-closebutton:hover, .window-cancel-button:hover, .window-ok-button:hover, .window-title:active, .window-closebutton:active  { background: #333; }
.window-ok-button { border-radius: 5px; padding: 2px 7px; }
.window-cancel-button { border-radius: 5px;  padding: 2px 7px; }

.new-subtemplate-form { padding:  24px; }
.new-subtemplate-form-container {  background: ##101519; }

textbox { background:#BBB; color: #112233; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; padding: 3px 0px;  }
textboxt:active { background:#eee; }

.insert-page-name-label { color:#D3D3D3; font-size: 12px; }

.area-editor-info { color: #F4F9FF; font-weight:normal; font-size: 12px; text-align: center; }

.bottom-menu-body { padding: 8px; border-radius: 0px; background:#20272F; border-top:2px solid #303337; background-alpha: 0.55; border-alpha:0.5; }
.bottom-menu-save-button { padding: 4px; background:#36AB6E; background-alpha: 0.45; border-alpha:0.7;  border-radius: 0px; border: 4px solid #373;  }
.bottom-menu-cancel-button { padding: 8px; border-radius: 0px; background-alpha: 0.6;  background: #333; }
.bottom-menu-delete-button {  padding: 4px; background:#603030; background-alpha: 0.45;  border-alpha:0.7;  border-radius: 0px; border: 4px solid #753; }
.bottom-menu-delete-button:hover { padding: 8px; border:none; background:#753; background-alpha:0.5; border-alpha:0.7; /*border-radius: 0px;*/ }

.drag-save-cancel-body { padding: 12px; border-radius: 0px; background:#333;  background-alpha: 0.3; border-alpha:0.4; }
.area-drag-save-button { padding: 4px; background:#36AB6E; border-radius: 0px; border: 4px solid #373; background-alpha: 0.45; border-alpha:0.7; }
.area-drag-cancel-button { padding: 8px; border-radius: 0px; background: #555;  background-alpha: 0.6;  }

.area-scroll-container { }

button.area-insert-btn { padding: 8px; border-radius: 0px; }
button.area-update-btn { padding: 8px; border-radius: 0px; }
button.area-delete-btn { padding: 4px; background:#603030; border-radius: 0px; border: 4px solid #733; }
button.area-delete-btn:hover { padding: 8px; border:none; background:#B00; border-radius: 0px; }

popup.tmpl-editor-mode { border-radius: 0px; padding: 4px 0px; }

popup.tmpl-editor-mode:active { }

popuplist.tmpl-editor-mode { padding: 4px 0px; background: #505459; /*background-alpha:0.945;*/ }


.page-editor { padding: 8px; background: #70797F; }
.pageeditor-plusbutton { padding:2px 12px; border-bottom-right-radius: 7px;}
.show-pages {  }

.input-help-button { padding: 3px; border-radius: 5px; background:none; padding-right: 5px; padding-top: 4px; color: #909499;  }
/*.input-help-button:hover { background:#505559; }*/
.input-help-button:active { background: #303439; background-alpha:0.945;}
popuplist.input-help-button { padding: 5px 1px; /*border-radius: 9px;*/ background: #303439; /*background-alpha:0.945; */ }


.back-button { padding: 7px 0px; color:#FFFFFF; margin:0px; background:none;  font-family: "Myriad Pro Light"; font-size:14px; }
.back-button:active  { background:#fff; background-alpha: 0.1; }


.constanteditor-folder {  font-family: "Myriad Pro Light";/*background:#101519; */ background-alpha:0; border-bottom:1px solid #efefef; border-alpha:0.15; padding: 5px 7px; border-radius: 0px; margin-bottom: 8px; }
.constanteditor-folder:active { background-alpha: 0.25; }

.property-folder-title {  /* background: #40484F;*/ color: #D0D9DF; padding: 2px 0px; padding:6px; text-align:center;  }


.property-label { /* background: #40484F; */ color: #B0B4B9; padding-top:7px; text-align:left; }
.property-section { /* background: linear-gradient(top, #fff 0% 0, #fff 40% 128, #fff 100% 0); */ color: #D0D9DF; padding: 2px 0px; padding-top:15px; text-align:center; background-alpha:0.65;  }


scrollcontainer { background: none;  }
.media-info, .media-info-text { padding: 14px; font-family: "Myriad Pro Light"; font-size: 16px;}

.constant-editor, .area-editor, .media-editor { padding: 8px; }
.constants-container, .area-container, .area-insert-container, .media-container { /* background: #40484F; */ padding: 0px; }
.constant-prop, .area-insert-prop { background: #303539; background-alpha:0.55; padding: 0px; border-radius: 4px; }
.constant-prop:active, .area-insert-prop:active { /*background:#70787F;*/ padding-top:8px; }
.constant-prop-label { font-family: "Myriad Pro Light"; font-size: 10px; color: #C0C0C0; padding-left: 16px; }

.constant-prop-input { font-family: "Odisseia Regular","Source Code Pro","Courier New"; background: #FFFFFF; /*linear-gradient(top, #bdbebf 0%, #bdbebf 30%, #a0a4a8 100%);*/ background-alpha:0.55; color: #00152F; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; padding: 3px 0px;  }
.constant-prop-input:active { background:#E8E8E8; background-alpha: 0.84;}

.page-item-btn, .media-item-btn { font-family: "Myriad Pro Light"; background:#202529; background-alpha:0; text-align:left; color:#efefef; padding:7px 9px; margin-bottom: 0px;  border-bottom:1px solid #efefef; border-alpha:0.15; }
.page-item-btn:active, .media-item-btn:active  { background-alpha:0.25; }

.media-item-btn { padding: 4px 9px;}
toggle { border-radius: 8px; background: #404549;  background-alpha:0.55; width: 28px; border: 2px solid #707479; padding: 2px 5px; }
toggle:active { border: 2px solid #E0E4E9; }

togglebutton { width: 10px; height: 10px; background: #404549;  background-alpha:0.55; border-radius: 5px; }
togglebutton:active { background: #E0E4E9;  }

.raw-switch-label { font-size: 10px; color: #777777; text-align:right; }
.raw-switch-label:active { color: #EEEEEE; }

/* Set Main Background on the viewcontainer or use the swf background color */
viewcontainer { background:#101519; /*#E4EAEF;*/ border-top: 2px solid #303236; }

menu.mainmenu  { background: #202226; }
panel#console { background:#10171F; }
panel#TextView { background:#FFFFFF; }

/*.agf-console-textfield { font-family: "Lucida Console"; }*/


button.mainmenu, button.secmenu { padding: 12px 7px; vertical-align:middle; text-align: left; }
button.mainmenu:hover, button.secmenu:hover { }
button.mainmenu:active { background:linear-gradient(top, #303539 0%, #000000 70%, #00070f 100%); }

popup.mainmenu, popup.secmenu { padding: 12px 7px; vertical-align:middle; text-align: center; }
popup.mainmenu:hover, popup.secmenu:hover { }
popup.mainmenu:active, popup.secmenu:active { }


popuplist.mainmenu, popuplist.secmenu { padding: 5px 1px; border-bottom-left-radius: 9px; border-bottom-right-radius: 9px;  border-top-right-radius: 9px; background-alpha:1; }
popupitem.mainmenu, popupitem.secmenu { padding: 2px 7px; padding-right: 12px; vertical-align:middle; }
popupitem.mainmenu:hover, popupitem.secmenu:hover { }
popupitem.mainmenu:active, popupitem.secmenu:active { }


popup.tmpl-editor-mode { padding: 7px;  border-radius: 0px; border-bottom-left-radius: 5px; }
popup.tmpl-editor-mode:active { border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
popuplist.tmpl-editor-mode { padding: 5px 1px; border-bottom-left-radius: 9px; border-bottom-right-radius: 9px;  border-top-left-radius: 9px; background-alpha:1; }
popupitem.tmpl-editor-mode { padding: 2px 7px; padding-right: 12px; vertical-align:middle; }

.textbox-color-clip { margin-right:8px; }
.textbox-boolean-btn, .textbox-nodestyle-btn, .textbox-styleclass-btn  { padding:0px; padding-left: 5px; padding-right:8px;  vertical-align:middle; background: none; border-left:1px solid #e0e4e8; border-alpha:0.35; }
.textbox-button { padding:0px; padding-left: 5px; padding-right:8px;  vertical-align:middle; border-left:1px solid #e0e4e8; border-alpha:0.35; /*background:#000; background-alpha:0.45; border-bottom-right-radius:5px;*/ background: none; /*linear-gradient(top, #777 0%, #777 40%, #999 100%);*/ }
.textbox-button:active { background:#606469; background-alpha:1; }

popup.textbox-popup, popup.textbox-typed {padding:0px; padding-left: 5px; padding-right:8px; vertical-align:middle; border-left:1px solid #e0e4e8; border-alpha:0.35; /*background:#000; background-alpha:0.45; border-bottom-right-radius:5px;*/ background:none; /*linear-gradient(top, #777 0%, #777 40%, #999 100%);*/ }
popup.textbox-popup:active, popup.textbox-typed:active { background:#606469; background-alpha: 1; }

popuplist.textbox-popup, popuplist.textbox-typed { padding: 5px 1px; /*border-radius: 9px;*/ background-alpha:1; }
popupitem.textbox-popup, popupitem.textbox-typed { padding: 2px 7px; padding-right: 12px; vertical-align:middle; }

.textbox-slider { padding: 0px; width: 8px; /*border-radius: 4px;*/ background:#d0d4d8; background-alpha:0.2; }
.textbox-slider-button {        background:#e0e4e8; background-alpha: 0.6; border-radius: 4px; width:8px; }
/*.textbox-slider-button:hover {  background: linear-gradient(top, #303439 0%, #404143 30%, #404143 70%, #606469 100%); }
.textbox-slider-button:active { background: linear-gradient(top, #707479 0%, #606163 30%, #606163 70%, #707479 100%); }
*/
.textbox-slider-button:active { background-alpha: 1; }
.input-vector-container { background-color: #357;}

.input-vector-minus-button { border-top-left-radius: 5px; border-bottom-left-radius: 5px; background:#000; background-alpha:0.45; }
.input-vector-plus-button {  border-top-right-radius: 5px; border-bottom-right-radius: 5px; background:#000; background-alpha:0.45; }
.richtext-popup, .richtext-btn {  background:none; /*background-alpha:0.45;*/ /*color:#202428;*/ padding:0px; padding-left: 2px; padding-right:2px;  vertical-align:middle; border-left:1px solid #e0e4e8; border-alpha:0.35;  }
.richtext-popup:active, .richtext-popup-first:active, .richtext-popup-last:active { background:#505458;  /*color:#d0d4d8;*/ }
popupitem.richtext-popup, popupitem.richtext-popup-first, popupitem.richtext-popup-last { padding-top: 2px; padding-right: 8px; background: none; background-alpha: 1; border:none;  }
popuplist.richtext-popup, popuplist.richtext-popup-first, popuplist.richtext-popup-last { background:#404246; color:#d0d4d8; padding: 9px; background-alpha: 1; }
.richtext-popup-first, .richtext-btn-first { color:#202428; }
.richtext-popup-last, .richtext-btn-last  { color:#202428; }
.richtext-popup-first, .richtext-btn-first { border-left:none; }

popup.areaeditor-areapopup { background: #202226;  background-alpha:0.45; padding: 7px; border-bottom-right-radius: 5px; }
popup.areaeditor-areapopup:active { background: #202226; background-alpha:1; border-bottom-right-radius: 0px; }
popuplist.areaeditor-areapopup { background: #202226; padding: 5px 1px; border-bottom-left-radius: 9px; border-bottom-right-radius: 9px;  border-top-right-radius: 9px;  background-alpha:1; }
popupitem.areaeditor-areapopup { padding: 2px 7px; vertical-align:middle; }
/*popupitem.areaeditor-areapopup:hover { background: #101519; }*/

popup.areaeditor-plusbutton {  background: #202226;  background-alpha:0.45; padding: 7px; border-bottom-left-radius: 5px; }
popup.areaeditor-plusbutton:active { background: #202226; background-alpha:1; border-bottom-left-radius: 0px; }
popuplist.areaeditor-plusbutton { background: #202226; padding: 5px 1px; border-bottom-left-radius: 9px; border-bottom-right-radius: 9px;  border-top-left-radius: 9px;  background-alpha:1; }
popupitem.areaeditor-plusbutton { padding: 2px 7px; vertical-align:middle; }
/*popupitem.areaeditor-plusbutton:hover { background: #101519; }*/

.filebuttons { background: #444; width: 100%; padding-top: 4px; }

popup.filepopup {
    /*border-top-left-radius: 6px*/
    color: #333333;
    background: #BBB;
    padding-left: 7px;
    padding-right: 7px;
}
popup.filepopup:active {
    background: #333;
    color: #eeeeee;
}
.filepopupitem { 
    font-size: 10px;
    vertical-align: middle;
    text-align: right;
    background: none;
    color: #eeeeee;
}
.filepopupitem:hover { background: #777; color:#EEEFFF;  }

popuplist.filepopup {
    /*border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;*/
    background: #333;
    padding: 9px;
}
.filebutton {
    padding-left: 4px;
    padding-right: 4px;
    vertical-align:middle;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 10px;
    font-weight: normal;
    color: #333333;
    background: #BBB;
}
.filebutton:hover {}

.filebutton:active {
    color: #333333;
    background: linear-gradient(top,#eeeeee 0%, #eeeeee 15%, #D4DADF 95%, #FFFFFF 100%);
}

.editor {
    background: rgb(61, 70, 78);
    color: #000;
    padding: 2px;
    border-right: 2px solid #444;
}

@media agfconf {
    
      conf#app
    {
        show-menu: false;
        load-plugins: false;
        menu: "ctres/ct-menu-mobile.xml";
        view: "ctres/ct-menu-mobile.xml";
        shortcuts: "ctres/ct-menu-mobile.xml";
        language: "ctres/lang.xml";
    }


    shortcut#app
    {
        C: "Console clear";
        O: "Console show console";
        S: "CTTools save";
    }
    
    /* load plugins here */
    conf#plugins {
      /* airutils: "plugins/airutils.swf";*/
    }

}